@model IEnumerable<Category>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
    <a asp-action="Details" asp-controller="Categories" asp-area="" asp-route-id="@item.Id">@item.Name</a>
}
